/*--------------------------------------------------------------
*
/* Navigation Menu
--------------------------------------------------------------*/
/*Navigation */
.profil-img {
    max-height: 80px;
    position: relative;
    margin: 0 auto;
}

 

/*--------------------------------------------------------------
*
/* Actuality
--------------------------------------------------------------*/
#main {
    padding-top: 60px;
}

.message-for-all {
    text-align: center;
}
.text-message-for-all {
    color: #fff !important;
    padding: 15px;
}

.text-message-for-all i {
    color: rgb(223, 54, 110) !important;
    margin: 0 10px;
    font-size: 30px;
}

.actuality-admin {
    margin: 30px 0;
}

.admin-box {
    text-align: left !important;
    display: flex;
    justify-content: space-between;
}

.admin-box .action {
    display: flex;
    flex-direction: column;
}

.admin-box .action .btn {
    margin: 10px 0;
}

.admin-members {
    text-align: center;
}

.admin-members .members {
    margin: 30px 0;
    padding: 15px;
    border: solid 1px;
    border-radius: 5px;
}

.team .planning {
    width: 100%;
    height: 100%;
}

#changePrice {
    display: none;
    margin: 10px 0;
}

/*-----------------------------
Profile-part
--------------------------------*/
.profile {
    text-align: center;
    margin-top: 100px;
    height: 90vh;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

.profile-content {
    margin :10px 0;
}

.profile-changePass {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    margin: 20px;
}

.profile-changePass input {
    text-align: center;
}

#myModal {
    text-align: center;
    width: 320px;
    height: 250px;
    border: 1px solid #281EA7;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    border-radius: 3px;
    background-color: #fff;
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}

#openModal {
    max-height: 200px;
    border: none;
    border-radius: 10px;
}

/*--------------
AddArticle
--------------*/

.addarticlebox textarea{
    height:250px;
}
.addarticlebox {
    height: auto !important;
}

.return-btn {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.return-btn .btn-info {
    border: none;
    background-color: rgb(223, 54, 110);
}

.actuality .preview {
    display: none;
}

#savecontent {
    visibility: hidden;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.action .btn {
    text-align: center;
    width: 120px;
}

/*-----------------
Delete article
-----------------*/
.admin-box .action .response-message {
    font-size: 1em;
}